@font-face {
   font-family: 'Shango Medium';
   font-display: swap;
   src: url('file:///C:/Users/Aaron/AppData/Local/Mobirise.com/Mobirise/projects/project-2018-11-10_055938/fonts/Shango%20Medium/font.woff');
}
